# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/.next
/out
/build

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and Editors
.idea
.vscode
*.swp
*.swo
.DS_Store

# OS
Thumbs.db
ehthumbs.db
desktop.ini
